:root {
  --primaryfont: "Roboto", sans-serif;
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --white: #fff;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
}
body {
  font-family: var(--primaryfont);
  color: var(--slate);
  background-color: var(--white);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol,
a,
menu {
  list-style-type: none;
  text-decoration: none;
}
.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-decoration: none;
  margin-left: 0px;
  margin-top: 25.5px;
  margin-bottom: 23.5px;
}
.header-logo-end {
  color: var(--navyblue);
}
.nav .list {
  display: none;
}
.nav .list .link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .list .link:hover,
.nav .list .link:focus,
.nav .list .link:active {
  color: var(--ocean);
}
.adress {
  font-style: normal;
}
.adress .list {
  display: none;
}
.adress .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.adress .list .link:hover,
.adress .list .link:focus,
.adress .list .link:active {
  color: var(--ocean);
}
.mobile-menu-button {
  fill: var(--navyblue);
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.mobile-menu {
  position: fixed;
  inset: 0;
  translate: -100% 0 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white);
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 80px 35px 40px 40px;
}
.mobile-menu.is-open {
  translate: none;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--navyblue);
  padding-inline-start: 0px;
}

.menu .link {
  color: var(--navyblue);
  list-style: none;
  text-transform: none;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
}
.menu .menu-highlight {
  color: var(--ocean);
  list-style: none;
  text-transform: none;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
}
.mobile-adress {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 284px;
  color: var(--navyblue);
}
.mobile-adress .adress-highlight {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-transform: none;
  text-decoration: none;
}
.mobile-adress .link {
  color: var(--slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: none;
  text-decoration: none;
}
.mobile-menu-socialmedia {
  display: flex;
  margin-top: 48px;
  gap: 56px;
}
.main-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: 50% 50%;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mainbackground.jpg);
}
.main-header {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  max-width: 320px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
}
.list-heading {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  margin-bottom: 8px;
  text-align: center;
}
.list-paragraph {
  color: var(--slate);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.heading {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team {
  background-color: var(--cloud);
  padding: 96px 0;
  margin: auto;
}
.name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.list-image {
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.footer {
  background-color: var(--navyblue);
  padding: 96px 0;
  margin: auto;
}
.footer .link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-end {
  color: var(--cloud);
}
.logo {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.button-list {
  background-color: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list:hover,
.button-list:focus,
.button-list:active {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.list .link {
  text-decoration: none;
  color: inherit;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.project-description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding: 96px 0;
}
.features .list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.features .list-elements {
  /* width: calc((100% - 72px) / 4); */
}
.pruducts {
  padding-bottom: 120px;
  display: none;
}
.pruducts .heading {
  margin-bottom: 72px;
}
.pruducts .list {
  display: flex;
  gap: 24px;
}
.pruducts .list-elements {
  width: calc((100% - 3 * 16px) / 3);
}
.team .heading {
  margin-bottom: 72px;
}
.team .list {
  display: flex;
  gap: 72px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-name {
  padding: 32px 0;
  width: 264px;
}
.team .list-image {
  border-radius: 0px 0px 4px 4px;
  width: 264px;
}
.footer .logo {
  max-width: 264px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projects-apps {
  width: calc((100% - 48px) / 3);
}
.div-app {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.projects-apps:focus,
.projects-apps:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.features-icons {
  display: flex;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--cloud);
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  gap: 24px;
  display: none;
}
.consumers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.consumers .list {
  display: flex;
  gap: 72px 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.consumers .heading {
  margin-bottom: 96px;
}

.consumers-icons {
  display: flex;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  justify-content: center;
  align-items: center;
  fill: var(--lightslate);
  padding: 16px 42.2px 16px 42.2px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.consumers-icons:focus,
.consumers-icons:hover {
  cursor: pointer;
  fill: var(--ocean);
  border-color: var(--ocean);
}
.team-icons-listitems {
  width: 40px;
  height: 40px;
}
.team-icons-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  background-size: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:focus,
.team-icons-link:hover {
  background-color: var(--ocean);
  cursor: pointer;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.social-media-footer {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  margin-right: auto;
  text-align: center;
}
.footer-icons-listitems {
  width: 40px;
  height: 40px;
}
.footer-icons-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:focus,
.footer-icons-link:hover {
  width: 100%;
  height: 100%;
  background-color: var(--green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.studio-header-underline {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ocean);
  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 48px;
}

.portfolio-header-underline {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ocean);
  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 66px;
}
.app-image {
  position: relative;
  overflow: hidden;
}
.app-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--ocean);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-apps .link:hover .app-paragraph,
.projects-apps .link:focus .app-paragraph {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.projects-apps .link:hover,
.projects-apps .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translatex(50%) translateY(50%) scale(0);
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 408px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  fill: var(--navyblue);
  cursor: pointer;
  display: flex;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media {
}
.footer-paragraph {
  text-align: center;
}
.footer-paragraph p {
  margin: auto;
}
.newsletter-footer {
  display: flex;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  justify-content: center;
}
.newsletter-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  width: 398px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  padding-left: 16px;
  background-color: var(--navyblue);
  color: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.newsletter-input:focus {
  border-color: var(--iris);
}

.newsletter-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  height: 40px;
  min-width: 165px;
  margin-top: 16px;
  border: none;
}
.newsletter-button:hover,
.newsletter-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}
.newsletter-display {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.modal-paragraph {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-label {
  color: var(--lightslate);
  font-size: 12px;
  letter-spacing: 0.48px;
}
.modal-input {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  color: var(--slate);
  line-height: 1.16667;
  letter-spacing: 0.48px;
  font-size: 12px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  height: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box {
  position: relative;
  margin-top: 4px;
  fill: var(--navyblue);
  width: 360px;
}
.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  translate: 0 -50% 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input-textarea:focus {
  fill: var(--iris);
  border-color: var(--iris);
}
.modal-input:focus + .input-svg {
  fill: var(--iris);
}
.modal-form {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.modal-input-textarea {
  color: var(--slate);
  line-height: 1.16667;
  letter-spacing: 0.48px;
  font-size: 12px;
  width: 100%;
  flex-shrink: 0;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  height: 120px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-input-textarea::placeholder {
  color: var(--navyblue-modal);
}
.modal-check-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal);
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-fake-checkbox .modal-check-icon {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}
.privacy-policy {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.48px;
}
.privacy-policy-link {
  color: var(--iris);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.modal-checkbox-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.modal-form-button {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  width: 169px;
  background: var(--iris);
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  padding: 16px 32px;
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}
.modal-button-wrapper {
  margin: 0 auto;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .team {
    max-width: 428px;
  }
  .main-section {
    max-width: 428px;
  }
  .mobile-menu {
    max-width: 428px;
  }
  .footer {
    max-width: 428px;
  }
  .team {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .team {
    max-width: 768px;
  }
  .main-section {
    max-width: 768px;
  }
  .footer {
    max-width: 768px;
  }
}
.mobile-menu-button {
  display: none;
}
.nav .list {
  display: flex;
  gap: 40px;
}
.adress .list {
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
